html,
body{
    background-color: var(--light-yellow);
}

.projectName {
    position: absolute;
    top:0;

    text-align: center;
}

.filpCanvas {
    position: relative;
    /* text-align: center; */
    /* left: 100px; */
}