/* html,
body{
    background-color: var(--light-yellow);
    /* position: fixed; 
    margin-top: 0;
} */

.WelcomeCanvasContainer {
    position: absolute;
    text-align: center;
    margin: 0;
    z-index: 0;
}

.WelcomeCanvas {
    position: absolute;
}

.WelcomefullContainer{
    height: 100vh;
}

.WelcomeitemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* margin-top: 10%; */
    /* background-color: blue; */
    /*width: 40%;*/
    /*vertical-align: middle;*/
}

.WelcomesubContainer{
    /* justify-content: center;
    align-items: center; */
    /* background-color: red; */
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    z-index: 6;
}

.welcomeText{
    justify-content: center;
    color: var(--main-yellow);
    font-size: xx-large;
    z-index: 5;
}

.login{
    justify-content: center;
    z-index: 4;
}

.bigLogo {
    /* position: absolute; */
    width: 40%;
    justify-content: center;
    z-index: 3;
    /* margin-left: auto;
    margin-right: auto;
    left: 3%;
    right: 0;
    top: 20%; */

}

/* .welcomeText {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: var(--main-yellow);
    font-size: xx-large;
}

.buttonContainer {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-yellow);
    width: 15%;
    height: 7%;
    border-radius: 10px;
}

.linkContainer {
    margin-top: 8%;
}

.goButton {
    color: var(--main-green);
    background-color: var(--main-yellow);
    font-size: large;
    text-decoration: none;
}

.GoogleButton {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    margin-left: auto;
    margin-right: auto;
} */ 
